{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-4">
		<h1 class='text-center'>
			{% block title %}Liste des types d'Évènement
			{% endblock %}
		</h1>
		<a class='btn btn-primary show' href="{{ path('app_home') }}">Retour à l'acceuil</a>
		<a class="mb-2 btn btn-success float-end" href="{{ path('app_event_type_new') }}">Ajouter un nouveau type d'évènement</a>
		<table class="table table-hover mt-4">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th class="col-md-4 mr-auto text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for event_type in event_types %}
					<tr>
						<td>{{ event_type.id }}</td>
						<td>{{ event_type.name }}</td>
						<td>
							<a class="btn btn-primary float-end m-1" href="{{ path('app_event_type_show', {'id': event_type.id}) }}">Voir</a>
							<a class="btn btn-warning float-end m-1" href="{{ path('app_event_type_edit', {'id': event_type.id}) }}">Modifier</a>
							{{ include('event_type/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
