{% extends 'base.html.twig' %}



{% block body %}
<div class="container my-4">
	<h1 class='text-center'>{% block title %}Listes des classes de Héros
{% endblock %}</h1>
<a class='btn btn-primary show' href="{{ path('app_home') }}">Retour à l'acceuil</a>
		<a class="mb-2 btn btn-success float-end" href="{{ path('app_hero_class_new') }}">Ajouter une nouvelle classe de héro</a>
	<table class="table table-hover mt-4">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>MaxHealth</th>
				<th>Health</th>
				<th>Strength</th>
				<th>Intelligence</th>
				<th>Dexterity</th>
				<th>Defense</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for hero_class in hero_classes %}
				<tr>
					<td>{{ hero_class.id }}</td>
					<td>{{ hero_class.name }}</td>
					<td>{{ hero_class.maxHealth }}</td>
					<td>{{ hero_class.health }}</td>
					<td>{{ hero_class.strength }}</td>
					<td>{{ hero_class.intelligence }}</td>
					<td>{{ hero_class.dexterity }}</td>
					<td>{{ hero_class.defense }}</td>
					<td>
						<a class="btn btn-primary float-end  m-1" href="{{ path('app_hero_class_show', {'id': hero_class.id}) }}">Voir</a>
						<a class="btn btn-warning float-end  m-1" href="{{ path('app_hero_class_edit', {'id': hero_class.id}) }}">Modifier</a>
						{{ include('hero_class/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    </div>
{% endblock %}
