{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-4">
		<h1 class="text-center">
			{% block title %}
				{{ effect.name }}
			{% endblock %}
		</h1>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div class="card-body">
						<table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ effect.id }}</td>
								</tr>
								<tr>
									<th>Name</th>
									<td>{{ effect.name }}</td>
								</tr>
								<tr>
									<th>Description</th>
									<td>{{ effect.description }}</td>
								</tr>
								<tr>
									<th>Health</th>
									<td>{{ effect.health }}</td>
								</tr>
								<tr>
									<th>Strength</th>
									<td>{{ effect.strength }}</td>
								</tr>
								<tr>
									<th>Intelligence</th>
									<td>{{ effect.intelligence }}</td>
								</tr>
								<tr>
									<th>Dexterity</th>
									<td>{{ effect.dexterity }}</td>
								</tr>
								<tr>
									<th>Defense</th>
									<td>{{ effect.defense }}</td>
								</tr>
								<tr>
									<th>Karma</th>
									<td>{{ effect.karma }}</td>
								</tr>
								<tr>
									<th>Xp</th>
									<td>{{ effect.xp }}</td>
								</tr>
							</tbody>
						</table>
						<a class='btn btn-warning  m-1' href="{{ path('app_effect_edit', {'id': effect.id}) }}">Modifier</a>
						{{ include('effect/_delete_form.html.twig') }}
						<a class='btn btn-primary  m-1' href="{{ path('app_effect_index') }}">Retour à la liste</a>

					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
